# Arquivo de exemplo de variáveis de ambiente

# raiz
DOCKERFILE = 'Dockerfile.dev' ou 'Dockerfile'

# /nest-api/.env
DATABASE_URL = ""
DEFAULT_ADMIN_EMAIL = ""
DEFAULT_ADMIN_PASSWORD = ""
JWT_SECRET = ""